<form name="authForm" ng-submit="vm.register(vm.user)" class="form-signin" novalidate>
    <h2 class="form-signin-heading">Sign up</h2>
    <!-- server authentication error -->
    <p ng-show="vm.error" class="text-danger" ng-bind="vm.error"></p>
    <input ng-model="vm.user.email" name="email" type="email" class="form-control" placeholder="Email Address" required autofocus>
    
    <!-- email error -->
     <div ng-show="authForm.$submitted">
        <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
         <p ng-show="authForm.email.$error">Please enter a vaild email</p>
    </div>
    <input ng-model="vm.user.password" type="password" class="form-control" placeholder="password" required>
    <button class="btn btn-lg btn-primary btn-block">Sign up</button>
</form>
{{vm.user}}

